* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}


.container {
  width: 500px;
  height: auto;
  margin: 50px auto;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;

}

.photo{
  width: 150px;
  height: 150px;
  border-radius: 5px;
}

.profile-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 5px;
}


.profile-desc {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
.profile-desc> div{
  margin:8px;
}

.additional-info{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.new-user{
  text-align: center;
  margin-top: 5px;
}